//Basic grid setting
%grid-center {
    display: grid;
    align-items: center;
    justify-items: center;
}

@mixin grid-template-set($section) {
    @if ($section == "header") {
        $section: $grid-columns-header;
    } @else if ($section == "localisation") {
        $section: $grid-columns-localisation;
    } @else if ($section == "presentation") {
        $section: $grid-columns-presentation;
    } @else if ($section == "fonctionnement") {
        $section: $grid-columns-fonctionnement;
    } @else if ($section == "restaurants") {
        $section: $grid-columns-restaurants;
    } @else if ($section == "footer") {
        $section: $grid-columns-footer;
    }
    grid-template-columns: repeat($section, 1fr);
}