@import 'ultils/normalizer';
@import 'ultils/variables';
@import 'ultils/components';
@import 'ultils/mixins';

@import 'layout/header';
@import 'layout/footer';

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');


/* Début Main */
main {
    font-family: 'Roboto', sans-serif;

    & i {
        padding: 0 0.5em 0 0;
    }

    /* Debut section localisation */
    & .localisation {
        @extend %grid-center;
        @include grid-template-set ($header);
        padding: 1em;
        background: #eaeaea;
        background: linear-gradient(
            180deg,
             rgba(173,173,173,.35) 0%,
             rgba(234,234,234,.75) 15%,
             rgba(234,234,234,1) 100%); 
    }
    /* Fin section localisation */

    /* Debut section presentation */
    & .presentation {
        @extend %grid-center;
        @include grid-template-set ($presentation);
        background-color:$gris-clair;

        & h2 {
            font-size: 1.2em;
            font-weight: bold;
            padding: 10px;
        }

        & p {
            padding: 10px;
        }
        
        & a {
            background: linear-gradient(360deg, $violet-primaire, $rose-secondaire);
            text-decoration: none;
            color: white;
            padding: 15px;
            margin: 15px;
            border-radius: 60em;
            box-shadow: 2px 4px 5px rgb(0,0,0,0.25);
        }
    }
    /* Fin section presentation */

    /* Debut section fonctionnement */
    & .fonctionnement {
        @extend %grid-center;
        @include grid-template-set ($fonctionnement);
        padding: 1em;
        position: relative;

        & h1 {
            font-size: 1.2em;
            font-weight: bold;
        }

        & .fonctionnement_number {
            position: absolute;
            background: linear-gradient(360deg, $violet-primaire, $rose-secondaire);
            color: white;
            border-radius: 30px;
            padding: 5px 10px 5px 10px;
            margin-top: 30px;
            margin-left: 2px;
        }

        & .fonctionnement_text {
            font-weight: bold;
            background: #f6f6f6;
            border-radius: 30px;
            padding: 35px;
            margin: 10px;
            margin-left: 15px;
            box-shadow: 2px 4px 5px rgb(0,0,0,0.25);

        }
    }
    /* Fin section fonctionnement */

    /* Debut section restaurants */
    & .restaurants {
        background-color:$gris-clair;
        @extend %grid-center;
        @include grid-template-set ($restaurants);
        padding: 1em;

        & h1, h3 {
            font-size: 1.2em;
            font-weight: bold;
        }

        & a {
            text-decoration: none;
            color: $txt-fond-clair;;
        }

        & img {
            position: relative;
            width: 400px;
            height: 300px;
            border-radius: 20px;
            background: white;
            border-radius: 20px;
            margin: 10px;
            padding: 0px 0px 80px 0px;
            box-shadow: 2px 4px 5px rgb(0,0,0,0.25);
        }
        
        & .base_restaurants {

            & h3, span {
                position: absolute;
            }

            & h3 {
                font-size: 1.05em;
                margin-top: -75px;
                margin-left: 25px;
            }

            & .lieu_restaurant {
                margin-left: -396px;
                margin-top: 270px;
            }

            & .isnew {
                background: $aqua-tertiaire;
                color: $txt-fond-vert;
                border-radius: 5px;
                padding: 5px;
                margin-left: -95px;
                margin-top: 25px;
            }

            & .like {
                font-size: 1.5em;
                margin-left: -75px;
                margin-top: 255px;
            }
        }
    }
    /* Fin section restaurants */
}

/* Fin Main */

/* media queries */
@media (max-width: 1270px) {
    
}