@use '../ultils/mixins';
@use '../ultils/variables';

footer {
    @extend %grid-center;
        @include grid-template-set ($footer);
    font-family: 'Roboto', sans-serif;
    padding: 1em;
    background-color: $gris-sombre;
    color: $txt-fond-sombre;

    & img {
        max-width: 7em;
    }
}

