@use '../ultils/mixins';
@use '../ultils/variables';

header{
    @extend %grid-center;
    @include grid-template-set ($header);
    padding: 1em;

    & img {
        max-width: 15em;
        @include grid-pos-set (1, auto, 1, auto);
    }

    & .btn__retourHome {
        @include grid-pos-set (1, auto, 1, auto);
        justify-self: start;
    }
}

/* Fin Header */