@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

main .restaurants, main .fonctionnement, main .presentation, main .localisation, footer, header {
  display: grid;
  align-items: center;
  justify-items: center;
}

main .restaurants, main .fonctionnement, main .presentation, main .localisation, footer, header {
  display: grid;
  align-items: center;
  justify-items: center;
}

header {
  grid-template-columns: repeat(1, 1fr);
  padding: 1em;
}
header img {
  max-width: 15em;
}

main .restaurants, main .fonctionnement, main .presentation, main .localisation, header, footer {
  display: grid;
  align-items: center;
  justify-items: center;
}

footer {
  grid-template-columns: repeat(3, 1fr);
  font-family: "Roboto", sans-serif;
  padding: 1em;
  background-color: #353535;
  color: #ffffff;
}
footer img {
  max-width: 7em;
}

/* Début Main */
main {
  font-family: "Roboto", sans-serif;
  /* Debut section localisation */
  /* Fin section localisation */
  /* Debut section presentation */
  /* Fin section presentation */
  /* Debut section fonctionnement */
  /* Fin section fonctionnement */
  /* Debut section restaurants */
  /* Fin section restaurants */
}
main i {
  padding: 0 0.5em 0 0;
}
main .localisation {
  grid-template-columns: repeat(1, 1fr);
  padding: 1em;
  background: #eaeaea;
  background: linear-gradient(180deg, rgba(173, 173, 173, 0.35) 0%, rgba(234, 234, 234, 0.75) 15%, #eaeaea 100%);
}
main .presentation {
  grid-template-columns: repeat(1, 1fr);
  background-color: #e2e2e2;
}
main .presentation h2 {
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px;
}
main .presentation p {
  padding: 10px;
}
main .presentation a {
  background: linear-gradient(360deg, #9356DC, #FF79DA);
  text-decoration: none;
  color: white;
  padding: 15px;
  margin: 15px;
  border-radius: 60em;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
}
main .fonctionnement {
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
}
main .fonctionnement h1 {
  font-size: 1.2em;
  font-weight: bold;
}
main .fonctionnement .fonctionnement_number {
  background: linear-gradient(360deg, #9356DC, #FF79DA);
  color: white;
  border-radius: 30px;
  padding: 5px 10px 5px 10px;
  z-index: 10;
}
main .fonctionnement .fonctionnement_text {
  font-weight: bold;
  background: #f6f6f6;
  border-radius: 30px;
  padding: 35px;
  margin: 10px;
  z-index: 1;
}
main .restaurants {
  background-color: #e2e2e2;
  grid-template-columns: repeat(4, 1fr);
}
main .restaurants h1, main .restaurants h3 {
  font-size: 1.2em;
  font-weight: bold;
}
main .restaurants a {
  text-decoration: none;
  color: #000000;
}
main .restaurants .palette_du_gout {
  background: white;
  border-radius: 30px;
  margin: 10px;
  padding: 0px 0px 20px 0px;
  z-index: 1;
}
main .restaurants .palette_du_gout img {
  border-radius: 20px;
  z-index: 1;
}
main .restaurants .isnew {
  background: #99E2D0;
  color: #008766;
  border-radius: 7px;
  padding: 5px;
}

/* Fin Main */
/* media queries */
